
body {
  background-color: black;
}

header{
  background-image: linear-gradient(to top, #000000, #0e0706, #160f08, #19160a, #181c10);
  grid-column: span 12;
 text-align: center;
}
header h1{
  color: white;
}
header h1 a{
  color: white;
  text-decoration: none;
}
header h1 a:hover{
  text-decoration: none;
}

nav{
  grid-column: span 12;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  width: 350px;
  padding: 10px;
  display: inline-block;
  background-image: url(button.png);
}

nav li a{
  display: block;
  background-image: linear-gradient(to right bottom, #060606, #161717, #212323, #2d302f, #3c3d3a);
  border: 2px solid white;
  padding: 1em;
  color: white;
  text-decoration: none;
}

.roundedbox2{
  border-radius: 12px;
  background: white;
  padding: 4px;
  }

nav li a:hover{
  color: black;
  background-color: white;
}

.floatimg{
  grid-column: span 2;
  float: right;
  margin: 15px;
  border: 10px solid white;
}

a{
  color: white;
  text-decoration: none;
}

main{
    grid-column: span 12;
}

footer{
    grid-column: span 12;
    text-align: right;
}

.media li{
  grid-column: span 12;
  color: white;
  margin-right: 40px;
  list-style-type: none;
  display: inline-block;
  text-align: center;
}
.media li a{
  grid-column: span 12;
  margin-left: 14px;
  color: white;
  list-style-type: none;
  display: block;
  text-align: center;
}

#wrapper {
  font-family: 'Ubuntu';
  color: white;
  margin: 24px auto;
  width: 1200px;
  border: 5px solid white;
  padding: 24px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  /* grid-template-rows: 600px; /* This is for the dummy columns, replace or delete */ */
}

.carousel {
  grid-column: span 10;
  color: #170724;

  --carousel-button-bg: #fff;
  --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0
          0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

  --carousel-button-svg-width: 20px;
  --carousel-button-svg-height: 20px;
  --carousel-button-svg-stroke-width: 2.5;
}

.carousel__slide {
  grid-column: span 10;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 400px;
  margin-right: 6px;

  background-color: #eee;
  border-radius: 6px;
}
/* style for dummy columns, delete and replace with your own CSS */
.dummycolumn {
  background-color: rgba(255,0,0,.25);
  grid-column: span 1;
}
