
a:link{
  color: red;
}

a:hover {
  color: yellow;
}

a:visited {
  color: green;
}

.blueify{
  color: blue;
  font-style: normal;
  font-weight: bold;
  background-color: lightblue;
}

#greenify{
  color: green;
  font-style: normal;
  font-weight: bold;
  background-color: lightgreen;
}

#redify{
  color: red;
  font-style: normal;
  font-weight: bold;
  background-color: pink;
}

body{
  background: 255, 255, 100, 50;
}

.customtext{
  font-family: sans-serif, Arial, Helvetica;
}

.boxmodel{
  border: 10px solid black;
  padding: 20px 20px 20px 20px;
}

.textjustify {
text-align: justify;
}
.textcenter {
text-align: center;
}
