

a{
  color: green;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}


h1{
  color: white;
  font-style: ;
  font-weight: bold;
  background-color: none;
}

#perry{
  background-color: rgb(156, 164, 255);
}

h2{
  color: blue;
  font-style: ;
  font-weight: bold;
}

h3{
  color: black;
  font-style: ;
  font-weight: bold;
  background-color: yellow;
}

h4{
  color: yellow;
  font-style: ;
  font-weight: bold;
  background-color: darkgreen;
}

h5{
  color: red;
  font-style: ;
  font-weight: ;
  background-color: ;
}

footer{
  background-color: yellow;
}

.orange{
  color: orange;
  font-style: ;
  font-weight: ;
}

#red{
  color: red;
  font-style:;
  font-weight:;
}

.lightgreen{
  color: black;
  font-style: ;
  font-weight: ;
  background-color: lightgreen;
}

#redify{
  color: red;
  font-style: normal;
  font-weight: bold;
  background-color: pink;
}
